.about {
	display: flex;
	flex-direction: column;
}

.about__heading {
	padding-left: 30px;
	width: 739px;
	font-size: 35px;
	line-height: 55px;
	margin: 0 auto;
}

.red-marker::after {
	position: absolute;
	content: "";
	bottom: 8px;
	left: 0;
	background: #bf2a2a;
	width: 8px;
	height: 31px;
}

.container-w1087 {
	margin: auto;
	max-width: 1087px;
}
.about__body {
	display: flex;
	justify-content: space-between;
	border: 3px solid #454545;
	padding: 4%;
}
.about__body_text {
	flex: 0 0 50%;
}
.about__body_text p {
	margin-bottom: 1.5em;
	letter-spacing: 0.2em;
}
.about__body_img {
	flex: 0 0 40%;
}
.about__body * {
	position: relative;
}
.about__body_img-fon {
	width: 100%;
}
.about__body_img img {
	object-fit: cover;
	width: 100%;
	height: 540px;
}

.about__body_img-fon::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 90%;
	left: 16%;
	bottom: 22%;
	background: #1b6951;
}

.works__heading {
	font-size: 35px;
	line-height: 1.4em;
	margin-left: -60%;
	margin-bottom: -1.2em;
}
.works {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 4em;
}
.works__column,
.works__column-second {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.works__column {
	width: 40%;
}
.works__column-second {
	width: 56%;
}

.works__column img {
	width: 100%;
	height: auto;
}
.works__column-second img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.works__column-second:first-child {
	/* margin-bottom: 1em; */
}
.works__btn {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
	/* letter-spacing: 1.15px; */
}

section > .advantages {
	padding-bottom: 200px;
}
.container #advantages {
	overflow: hidden;
}
.advantages {
	position: relative;
	margin: 0 auto;
}

.advantages * {
	position: relative;
}

.advantages p {
	font-size: 20px;
	line-height: 1.25em;
	letter-spacing: 3.9px;
}

.advantages__up,
.advantages__down {
	margin: 0 auto;
	width: 28%;
}

.advantages__up > .advantages__heading {
	margin-top: 10px;
}

.advantages__heading {
	font-weight: bold;
	font-size: 25px;
	line-height: 1.33em;
	letter-spacing: 0.3em;
	padding-bottom: 7px;
	margin-bottom: 1em;
}

.advantages__middle {
	display: flex;
	justify-content: space-around;
	height: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	align-items: center;
}

.advantages__middle-first,
.advantages__middle-second,
.advantages__middle-third {
	flex: 0 0 30%;
}

.advantages__middle-second > div {
	margin: auto;
	max-width: 70%;
}
.advantages__middle-second img {
	width: 100%;
	z-index: 150;
}

.advantages__down {
	margin-top: 1em;
}
.advantages::before {
	content: "";
	position: absolute;
	width: 116%;
	height: 83%;
	left: 34%;
	top: -6%;
	border: 3px solid #1b6951;
}

.advantages::after {
	content: "";
	position: absolute;
	width: 114%;
	height: 84%;
	right: 35%;
	bottom: 19%;
	border: 3px solid #bf2a2a;
}

.blog {
	position: relative;
}

.blog__heading {
	font-size: 35px;
	line-height: 47px;
	margin: auto;
}

.blog__card {
	padding-top: 58px;
}
.blog__card img {
	object-fit: cover;
	width: 100%;
	height: 25em;
}
.blog__card-body {
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.2em;
	padding-top: 24px;
}

.blog__card-body > span {
	display: block;
	font-size: 15px;
	line-height: 60px;
	letter-spacing: 0.3em;
	color: #676666;
}
.blog__link {
	display: block;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slick-slide.slick-active:nth-child(2) {
	padding-left: 20px;
	padding-right: 20px;
}
.blog .slick-arrow {
	position: absolute;
	top: 30%;
	z-index: 100;
	font-size: 0;
	width: 19px;
	height: 37px;
}
.blog .slick-arrow.slick-prev {
	left: 0;
	background: url(../img/icon/icon_arrow_left.svg) no-repeat;
}
.blog .slick-arrow.slick-next {
	right: 0;
	background: url(../img/icon/icon_arrow_right.svg) no-repeat;
}

.slick-arrow.slick-disabled {
}

.subscribe * {
	position: relative;
}
.subscribe {
	max-width: 780px;
	margin: 0 auto 100px;
	text-align: center;
}

.subscribe__heading {
	font-size: 35px;
	line-height: 47px;
	max-width: 335px;
	margin: auto;
}
.main-text p,
.main-text li,
.subscribe__text {
	font-size: 20px;
	line-height: 1.5em;
	letter-spacing: 0.2em;
	padding-top: 1em;
}
.main-text ol {
	padding-left: 30px;
}
.main-text li,
.main-text ol li {
	font-family: initial;
}
.main-text__img {
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
}
.main-text__img img {
	width: 100%;
}

.subscribe__social {
	display: flex;
	width: 155px;
	margin: auto;
	justify-content: space-between;
}

.subscribe input {
	max-width: 421px;
	min-width: 300px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.3em;
	padding-bottom: 8px;
	border-bottom: 2px solid #1b6951;
	margin-top: -10px;
	margin-bottom: 14px;
}

.subscribe__social-f {
	background: url(../img/icon/icon_f.svg) 50% 50% / auto 100% no-repeat;
}

.subscribe__social-inst {
	background: url(../img/icon/icon_inst.svg) 50% 50% / auto 100% no-repeat;
}

.subscribe__social-twit {
	background: url(../img/icon/icon_twit.svg) 50% 50% / auto 100% no-repeat;
}

.subscribe__social-f,
.subscribe__social-inst,
.subscribe__social-twit {
	height: 31px;
	width: 32px;
}
